*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-image: url(./images/project.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

h1{
    font-size: 50px;
    margin-top: 10px;
}

.project-link{
    font-size: 30px;
    color: blue;
    margin-bottom: 60px;
}

