*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg,
    rgb(80, 80, 179),
    rgb(255, 128, 128)
    );

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    position: relative;
}
h1 button{
    position: relative;
    right: 0;
    transform: translate(120%, -50%);
    z-index: 2;
}
.btn{
    cursor: pointer;
    background-color: royalblue;
    border: 1px solid rgb(151, 170, 228);
    border-radius: 9px;
    font-size: 15px;
    margin-top: 20px;
    padding: 10px 15px;
}
.btn-small{
    font-size: 12px;
    padding: 5px 10px;
}
.clear{
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.btn-ghost{
    border: 0;
    background-color: transparent;
}

.cards{
    perspective: 1000px;
    position: relative;
    height: 300px;
    width: 500px;
    max-width: 100%;
    
}