*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg ,
    cyan,skyblue

    );

    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;

}

header{
    font-size: 1.5rem;
    
}

form,header {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 form input ,form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    font-size: 2rem;
}

button:hover{
    background-color: plum;

}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo-list{
    min-width: 30%;
    list-style: none;

}

.todo{
    margin: 0.3rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;


}

.todo li{
    flex: 1;
}
.trash-btn, .complete-btn{
    background-color: red;
    color: white;
    padding: 1 rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    height: 45px;
    width: 48px;
}

.trash-btn{
    color: whitesmoke;
}

.complete-btn{
    background-color: green;
    padding: 1 rem;
    
    
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash , .fa-check{
    pointer-events: none;
   
    
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}